{% extends "layout.html" %}

{% block content %}

 <!--{% for name, item in items %}
  <li>{{ name }}: {{ item }}</li>
  {% endfor %}-->


  <h3>User: {{ user.name }}<small> (<a href="PLACEHOLDER">Similar</a>)</small></h3>
  <h4>Published Articles: <a href="{{ user.id }}">{{ userrid }}</a></h4>
  <div></div>
  <hr/>
  <div> PLACEHOLDER FOR PAGES  </div>
  <div class="page-body"> ANOTHER PLACEHOLDER</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
