{% extends "layout.html" %}

{% block content %}

 <!--{% for name, item in items %}
  <li>{{ name }}: {{ item }}</li>
  {% endfor %}-->


  <h3>User: {{ user.name }}<small> (<a href="PLACEHOLDER">Similar</a>)</small></h3>
  <hr/>
  <h4>Published Articles:</h4>
  <div>
  <ul class="list-unstyled">
    {% for page in pages %}
      <li><a href="/wiki/{{ page.urlTitle }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  </div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
