{% extends "layout.html" %}

{% block content %}

 <!--{% for name, item in items %}
  <li>{{ name }}: {{ item }}</li>
  {% endfor %}-->


  <h3>{{ foundPage.title }}<small> (<a href="PLACEHOLDER">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{ foundPage.authorid }}">{{ foundPage.author.name }}</a></h4>
  <div> tags:
      {% for tag in foundPage.tags %}
    <li>
       <a href="search/?tags={{ tag }}"> {{ tag }}
    </li>
    {% endfor %}

  </div>
  <hr/>
  <div>{{ foundPage.name }} </div>
  <div class="page-body">{{foundPage.content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}

